<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <main>
    <%- include('loginPg.ejs')%>
    <%- include('signupPg.ejs')%>
  </main>
  <script src="../javascripts/script.js"></script>
</body>

</html>