<dialog id="signup-dialog">
    <div id="logo"></div>
    <p id="wlcm">Welcome to Pinterest</p>
    <form action="/register" method="post">
        <label for="name-2">
            Name
            <input type="text" name="username" id="name-2" placeholder="name" />
        </label>
        <label for="userEmail-2">
            Email
            <input type="email" name="email" id="userEmail-2" placeholder="email" />
        </label>
        <label for="userPassword-2">
            Password
            <input type="password" name="password" id="userPassword-2" placeholder="password" />
        </label>
        <label for="fullName-2">
            Fullname
            <input type="text" name="" id="fullName-2" placeholder="fullName" />
        </label>
        <input type="submit" value="Continue" />
    </form>
    <a href="">Forgot your password ?</a>
    <div id="signup-btns">
        <p>OR</p>
        <a href=""><button>Continue With Google</button></a>
        <div id="terms-txt"></div>
        <div id="login">
            <p>Not on Pinterest yet?<a href="" id="login-pg-btn">Login</a></p>
            <p>Are you a business?<a href="">Get started here!</a></p>
        </div>
    </div>
</dialog>